body{

 font-family: 'Open Sans', sans-serif;
}

 /* nav related style  */

nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 200px;
}
nav > ul {
 display: flex;
 align-items: center;
}

nav li{
 list-style: none;
 margin-right: 51px;
}
nav a{
 color: var(--Dark-02, #474747);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
 text-decoration: none;
 text-transform: capitalize;
}

.r-text{

 color: #FD6E0A;
}

h3{
 font-size: 45px;
 font-style: normal;
 font-weight: 800;
}

.click{
 background-color: #FD6E0A;
 color: white;
 text-transform: capitalize;
 width: 150px;
 height: 64px;
 border-radius: 5px;
 font-size: 14px;
 font-weight: 700;
 border: none;
 padding: 15px 35px;
}

/* Header related style */

.header{
 background-color: #FFF8F3;
 background-image: url(../images/header_bg.png);
 background-repeat: no-repeat;
 background-position: bottom right;
}

.banner{
 padding: 30px 30px 0px 260px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.banner-start{
 margin-bottom: 0;
 font-size: 45px;
 font-weight: 400;
 font-style: normal;
 color: rgba(0, 0, 0, 0.913);
}

.banner-name{
 margin-top: 5px;
 font-weight: 700;
 font-size: 85px;
 color: black;
}

.banner-content{
 margin-top: 20px;
 font-size: 18px;
 font-weight: 400;
 color: #474747c7;
 width: 585px;
}

.second-btn{
background-color: #FD6E0A;
width: 200px ;
height:64px ;
border: none;
border-radius: 5px;
color: white;
font-size: 20px;
font-weight: 700;
margin-top: 30px;
}

.third-btn{
margin-top:30px;
 color: #FD6E0A;
 width: 160px;
 height: 64px;
 border: 1px solid #FD6E0A;
 border-radius: 5px;
 background-color: transparent;
 font-size: 20px;
 font-weight: 700;
 margin: 4px;
}

/* main part */

/* styling about section */

.about{
 
 margin: 130px 0;
 background-color: #FFF8F3;
 height:550px ;
 padding: 131px;
}

.about-head{
 
 font-size: 37px;
 font-weight: 700;
 text-align: center;
 
}

.about-desc{

 font-size: 18px;
 font-weight: 400;
 text-align: center;
 margin-top: 90px;
}
/* max width set kore ditee pari */

main{
 max-width: 1140px;
 margin: 0 auto;
}

.about-info-container{

 display: flex;
 text-align: center;
 margin-top: 120px;
 
}

.about-info-container > .about-info{

justify-content: space-between;
margin: 30px;
text-align: center;
}

.info-title{
 text-align: center;
 color: #757575;
 font-size: 20px;
 font-weight: 400;
}
.info-description{

 font-size: 20px;
 font-weight: 700;
 color: #474747;
 
}

 /* what i do  */

 #wid-dis{

  padding: 30px 150px;
  
 }

/* skill related style  */

.skills-container{


display: flex;
gap: 35px;
align-items:center;

}

.skill{
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.562) ;
}
.section-title{
 text-align: center;
 text-transform: capitalize;
}
